* {
	box-sizing: border-box;
}

.content {
	text-align: center;
}

.formbox {
	width: 300px;
    margin: 0 10px 10px 10px;
	display: inline-block;
	border: 1px solid #222222;
}

textarea {
	resize: none; min-height:100%;
}